.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; 
  }
  
  .login-form {
    background-color: #cdc8c8; /* Greyish background for the form body */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Reduced width */
    min-height: 400px; /* Taller form */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form-group {
    margin-bottom: 1.5rem; /* Space between form fields */
  }
  
  .invalid-feedback {
    color: red;
    font-size: 0.875rem;
  }