.main{
    /* display: flex; */
    width: 100vw;
   /* overflow-x: hidden; */
   /* background-image: url('./air1.jpg');
   background-repeat: no-repeat; 
   background-size: 50%;  /*or contain, or specific values like 100% 100% */
    /* background-position: center; */ 
   
    /* background-attachment: fixed; Optional: keeps the background fixed during scroll */
    /* background-blend-mode: multiply; Optional: blends the background image with the background color */
    margin-bottom: -40px;
}
.mess1{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 275px;
    margin-bottom: -40px;
    font-family: serif;
    margin-right: 100px;
    width: 90vw;
    font-size: 100px;
    font-weight: 500;
    color: rgb(88, 85, 85);
}
.mess2{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 275px;
    margin-left: 300px;
    /* margin-bottom: -40px; */
    margin-bottom: 100px;
    font-family: serif;
    margin-right: 100px;
    width: 90vw;
    font-size: 100px;
    font-weight: 500;
    color: rgb(88, 85, 85);
}
.img{
    background-image: url('./backair1.jpg');
    height: 400px;
    width: 1000px;
    background-position: center;
    background-size: cover;
    z-index: -1; 
    border-radius: 110px;
    margin-left: 190px;
    
}
.upperimg{
    margin-top: -130px;
    height: 800px;
    width: 900px;
    z-index: 1;
}
